body {
    font-family: "SFMono-Regular", Consolas, "Liberation Mono", Menlo, Courier, monospace;
    margin: 0px;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    overflow-x: hidden;
    overflow-wrap: break-word;
}


.App-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background-color: #5CDB95;
}

/* Header component */
.Header-profile-image {
  border-radius: 50%;
  width: 60%;
  border-width: 3px;
  border: 4px solid rgba(5, 56, 107, 0.089);
  border-style: solid;
}

.Header {
  border-radius: 5px;
  background-color: #EDF5E1;
  width: 80%;
  align-items: center;
  min-height: 300px;
  margin-top: 20px;
  border: 4px solid #05386B;
  border-top-width: 1px; 
  border-left-width: 1px; 
  display: flex;
  flex-wrap: wrap;
  flex-direction: row;
}

.Header .Header-left-box {
  width: 30%;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
  min-width: 250px;
}

.Header .Header-middle-box {
  width: 40%;
  display: flex;
  flex-direction: column;
  justify-content: left;
  align-items: left;
  min-width: 350px;
}

.Header .Header-middle-box .Dev-name {
  font-size: 3.0em;
  margin-bottom: 5px;
  color: #05386B;
}

.Header .Header-middle-box .Dev-description {
  font-size: 1.0em;
  margin-bottom: 1em;
  color: #05386B;
}

.Header .Header-middle-box .Dev-links {
  display: flex;
  flex-direction: row;
  justify-content: left;
  align-content: flex-start;
  align-items: center;
  width: 100%;
}

.Header .Header-middle-box .Dev-links img {
  width: 40px;
  margin-right: 10px;
}

.Header .Header-right-box {
  width: 25%;
  justify-content: left;
  padding-left: 1em;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  
}

.Header .Header-right-box .Box {
  display:flex;
  flex-direction: column;
  justify-content: left;
  align-items: left;
  flex-wrap: wrap;
}

.Header .Header-right-box .Box .Key {
  padding: 4px;
  font-size: 1em;
  color: #379683;
}

.Header .Header-right-box .Box .Item {
  padding: 4px;
  font-size: 1.3em;
  color: #05386B;
  margin-bottom: 1em;
}

/* Body Section */

.Body-section {
  display: flex;
  flex-direction: row;
  justify-content: left;
  background-color: #5CDB95;
  width: 80%;
  margin-top: 1em;
  justify-content: space-between;
}

.Body-section .Left-items {
  display:flex;
  flex-direction: column;
  background-color: #5CDB95;
  width: 20%;
}

.Body-section .Box {
  display:flex;
  flex-direction: column;
  justify-content: left;
  align-items: left;
  margin: 0% 0% 5% 0%;
  border: 4px solid #05386B;
  border-top-width: 1px; 
  border-left-width: 1px; 
  background-color: #EDF5E1;
  padding: 1em;
}

.Body-section .Box .Key {
  font-size: 1.3em;
  margin-bottom: 5px;
  color: #379683;
}

.Body-section .Box .Item {
  padding: 4px;
  font-size: 1em;
  color: #05386B;
  margin-bottom: 1em;
}

.Body-section .Middle-items {
  background-color: #5CDB95;
  width: 50%;
  flex-direction: column;
  justify-content: left;
}

.Body-section .Right-items {
  background-color: #5CDB95;
  width: 25%;

}

.Body-section .AboutBox {
  display: flex;
  flex-direction: column;
  justify-content: left;
  align-items: left;
  margin: 0% 0% 5% 0%;
  border: 4px solid #05386B;
  border-top-width: 1px; 
  border-left-width: 1px; 
  background-color: #EDF5E1;
  padding: 1em;
}


@media screen and (max-width: 1050px) {
  .Header {
    width: 90%;
    padding-top: 10px;
  }
  .Header .Header-middle-box .Dev-links img {
    width: 25px;
  }
  .Body-section {
    width: 90%;
  }
  .Body {
    width: 90%;
  }
  .Header .Header-left-box {
    width: 30%;
  }
  .Header .Header-middle-box {
    width: 50%;
  }
  .Header .Header-right-box {
    width: 100%;
  }
  .Header .Header-right-box .Box {
    width:50%;
    align-items: center;
  }

}

@media screen and (max-width: 700px) {
    .Header {
      width: 97%;
      padding-top: 10px;
    }
    .Header .Header-middle-box .Dev-links img {
      width: 25px;
    }
    .Body {
      width: 90%;
    }
    .Header .Header-left-box {
      width: 100%;
    }
    .Header .Header-left-box .Header-profile-image {
      max-width: 150px;
    }
    .Header .Header-middle-box {
      width: 100%;
      justify-content: center;
      align-items: center;
      text-align: center;
    }
    .Header .Header-middle-box .Dev-links {
      justify-content: center;
      align-items: center;
      text-align: center;
    }
    .Header .Header-right-box {
      width: 100%;
    }
    .Header .Header-right-box .Box {
      width:50%;
      align-items: center;
      text-align: center;
    }

    .Body-section {
      width: 97%;
      flex-direction: column;
    }

    .Body-section .Left-items {
      width: 100%;
    }
    .Body-section .Middle-items {
      width: 100%;
    }
    .Body-section .Right-items {
      width: 100%;
    }
}